{% extends 'base.html' %} {% block main %}
<br>
<div>
  <div class="container">
    <div class="card" class="rounded" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ data.user }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Tweets: {{ data.tweet_count }}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
          Following: {{ data.follow_count }}
        </h6>
        {% if request.user.is_authenticated and not data.is_following %}
        <form action="/{{ data.user }}/" method="POST">
          {% csrf_token %}
          <input type="hidden" name="username" value="{{user}}" />
          <input type="hidden" name="follow" value="follow" />
          <input class="btn btn-outline-success" type="submit" value="Follow" />
        </form>
        {% elif request.user.is_authenticated and data.is_following %}
        <form action="/{{ data.user }}/" method="POST">
          {% csrf_token %}
          <input type="hidden" name="username" value="{{user}}" />
          <input type="hidden" name="unfollow" value="unfollow" />
          <input class="btn btn-outline-danger" type="submit" value="Unfollow" />
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container">
    {% for tweet in data.tweets %}
    <hr>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href="/{{ tweet.user }}">{{ tweet.user }}</a></h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ tweet.created_at }}</h6>
          <p class="card-text">{{ tweet.text }}</p>
          <a href="/tweet/{{ tweet.id }}" class="btn btn-outline-primary">View tweet</a>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
